
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

header{
  background-color: rgb(162, 183, 250);
  padding-bottom: 20px;
  text-align: center;
}

.leftNav, .rightNav {
  width: 25%;
  background-color: grey;
  margin: 0;
  padding: 0;
}

main {
  margin: 20px 20px 0 20px;
  padding: 30px 30px 0 30px;
}

.spread {
  display: flex;
  
}

h1, h3 {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.postCard {
  background-color: rgb(243, 240, 240);
  display: flex;
  margin: 15px;
}

.rightCard {
  margin-left: 25px;
}

.userxx-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.userImg {
  width: 150px;
  height: 150px;
  margin-right: 25px;
  border-radius: 180px;
  
}

.date {
  padding-left: 15px;
  display: inline;
}

.userCat {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#triangle {
  margin-top: 10px;
  margin-right: 10px;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 15px 15px 15px;
  border-color: transparent transparent rgb(7, 6, 6) transparent;
}

.message {
  border: 1px solid rgb(206, 204, 204);
  width: 85%;
  height: 30px;
  padding-left: 10px;
  margin-left: 15px;
  font-size: 95%;
}

.like {
  margin: 0 20px;
}

.bottomItem {
  margin-top: 20%;
}

.topItem {
  margin-top: 5%;
}

.btn {
  border: 1px solid rgb(207, 205, 205);
  padding: 5px 30px;
  background-color: rgb(124, 124, 241);
  margin-left: 10px;
  color: white;
  font-size: 120%;
  border-radius: 8%;
}

.messageDisplay {
  margin: 15px 0;
  color: rgb(53, 52, 52);
  font-size: 120%;
}

.userName {
  display: inline-block;
}

.reply {
  display: inline-block;
}

.counter {
  display: inline;
}